<!DOCTYPE html>
<html>
  <head>
    <title>StudentInfo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="search">
      <%= form_with(url: "/student", method: "get") do %>
        <%= label_tag(:q, "Search student for mssv:") %>
        <%= text_field_tag(:mssv) %>
        <%= submit_tag("Search") %>
      <% end %>
      <div class="student" style="margin-top: 20px">

      </div>
    </div>
  </body>
</html>
